/* overall */
#header .w1280, 
main .w1280, 
footer .w1280 {
	width: 90%;	
	margin: auto;
}
.w1280 {
	max-width: 960px;
	width: 85vw;
	margin: 0 auto;
}



/* header */
#header .logo,
#header .member {
	width: 30%;
}
#header .nav {
	width: 40%;
}
#header .nav li {
	padding: 10px 12px;
	font-size: 14px;
}
#header .nav .search_box {
	max-width: 960px;
	width: 90vw;
}



/* --- dropdown searchbox --- */
/* Datepicker */
#ui-datepicker-div {
	width: 80vw !important;
	padding: 50px 15px;
}



/* main - trip Destination & activity */
#activity .activity_card .card {
	width: 49%;
	margin-bottom: 4%;
}

/* main - gift cards*/
#giftcard .giftcard_image {
    background: url(../img/giftcard_full.webp) no-repeat top right / cover;
}
#giftcard .giftcard_image.w100 {
	width: 90%;
	min-height: 80%;
	background-position: center top;
	background-size: contain;
	margin-top: 5%;
	margin-left: 10%;
}