@charset "UTF-8";
@import url(./font.css);
/* html최상위 요소 선택자:root(root:최상위경로) */
:root {
	--primary-clr:#FF385C;
	--secondary-clr:#222222;
	--radial-gradient:radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% );
	--linear-gradient-primary:linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
	--linear-gradient-secondary:linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%);
	--white: #ffffff;
	--gray1: #f7f7f7;
	--gray2: #ebebeb;
	--gray3: #dddddd;
	--gray4: #b0b0b0;
	--gray5: #717171;
	--black: #000000;
}


/* basics */
body {
    font-family: 'Cereal', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    /* color: #484848; */
    color: var(--secondary-clr);
    background-color: var(--white);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
#header, #main_vis, #footer {
	width: 100vw;
	height: auto;
	background: var(--black);
}
button, input, label, .logo {
	cursor: pointer;
	border: none;
}
#header button {
	text-indent: -22222222px;
}
a {
	text-decoration: none;
	color: var(--white);
}
.w1280 {
	width: 100%;
	max-width: 1280px;
	/* max-width: 1120px; */
	margin: auto;
	/* background: #bcbcbc; */
}
.flex {
	display: flex;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.pf {
	position: fixed;
}
.tit_w {
	color:var(--white);
}
.tit_b {
	color: var(--secondary-clr);
}

/* skip menu */
#skip {
	position: relative;
}
#skip a{
	position: absolute;
	left: 0;
	top: -200px;
	color: #fff;
	border: 1px solid #fff;
	outline: none;
	background: #333;
	line-height: 30px;
	width: 300px;
	text-align: center;
	z-index: 999;
}
#skip a:active, #skip a:focus {
	top: 0;
}





/* header layout */
.top {
	width: 100%;
	height: 160px;
	justify-content: space-between;
}
.logo, .member {
	width: 30%;
	height: 80px;
}
.nav {
	width: 40%;
	height: 160px;
	align-items: center;
	flex-direction: column;
}
.nav .search_box object {
	display: block;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-49%);
}
.logo {
	height: 80px;
	padding-top:24px;
}
.logo h1 {
	text-indent: -22222222px;
}
.member {
	justify-content: flex-end;
	align-items: center;
}
.member>div {
	margin-right: 2%;
	justify-content: flex-end;
}
.member .host {
	height: 42px;
	border-radius: 21px;
	padding: 0 20px;
}
.member .host:hover,
.member .lang:hover {
	background: var(--secondary-clr);
}
.member .host a {
	/* width: 77px; */
	display: block;
	height: 42px;
	line-height: 42px;
	color: var(--white);	
	font-weight: 600;
}
.member .lang {
	width: 46px;
	height: 42px;
	border-radius: 21px;
	/* background: var(--black); */
}
.member .lang img {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.member .login {
	width: 77px;
	height: 42px;
	border: none;
	border-radius: 21px;
	background: var(--white);
	justify-content: flex-end;
	align-items: center;
	padding-right: 5px;
	cursor: pointer;
}
.member .login:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18);
}
.member .login object:first-child {
	margin-right: 10px;
}
.member .join {
	width: 240px;
	height: 243px;
	border-radius: 8px;
	background: var(--white);
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .12);
	margin-right: 0;
	top: 80px;
	right: 0;
	z-index: 9;
	display: none;
}
.member .join ul {
	padding: 8px 0;
	width: 100%;
}
.member .join ul::before{
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background: var(--gray3);
	position: absolute;
	top: 41%;
	left: 0;
}
.member .join li {
	padding: 12px 16px;
}
.member .join li:hover{
	background: var(--gray1);
}
.member .join li:nth-of-type(2){
	margin-bottom: 8px;
}
.member .join a {
	display: block;
	font-size: 14px;
	line-height: 18px;
	color: var(--secondary-clr);
}
.member .join li:first-child a{
	font-weight: 600;
}

/* header - nav menu */
.nav ul.menu {
	width: 100%;
	justify-content: space-between;
	padding-top: 20px;
}
.nav .menu li a:focus::after,
.nav .menu li a:active::after,
.nav .menu li a.active::after {
	content: '';
	width: 18px;
	height: 2px;
	border-radius: 1px;
	position: absolute;
	background: var(--white);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) scale(1);
	transition: all .2s;
}
.nav li {
	font-size: 16px;
	color: var(--white);
	line-height: 20px;
	padding: 10px 16px;
	display: block;
	position: relative;
}
.nav .menu li::before {
	content: '';
	width: 0%;
	height: 2px;
	position: absolute;
	background: var(--gray4);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: width .3s;
}
.nav li:hover::before{
	width: 4%;
}
.nav li a.active .nav .search_box>div.search{
	display:block
}

/* header - search box */
.nav .search_box {
	width: 850px;
	height: 65px;
	border-radius: 32px;
	/* background-color: #BD1E59; */
	top: 40px;
}
.nav .search_box .search {
	width: 100%;
	height: 65px;
	background: #fff;
	border-radius: 32px;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
}
.nav .search_box #tab_place {
	z-index: 1;
}
.nav .search_box .search .query {
	padding: 13px 32px;
	cursor: pointer;
}
.nav .search_box .search .query:nth-of-type(1) {
	width: 40%;
}
.nav .search_box .search .query + .query::before {
	content: '';
	border-right: 1px solid var(--gray3);
	height: 32px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.nav .search_box .search .query:target{
	background: var(--gray2);
	box-shadow: 1px 1px 3px var(--gray4);
}
.nav .search_box .search .query:hover {
	position: relative;
	z-index: 1;
	display: block;
	border-radius: 32px;
	background: var(--gray2);
}
.nav .search_box .search .query > div {
	font-size: 12px;
	line-height: 16px;
	font-weight: 800;
	letter-spacing: 0.04em;
	padding-bottom: 2px;
}
.nav .search_box .search input{
	display: block;
	width: 100%;
	background: none;
	border: none;
	outline: none;
	margin: 0;
	padding-right: 0;
	font-size: 14px;
	line-height: 18px;
	color: var(--secondary-clr);
	text-overflow: ellipsis;
}
.nav .search_box .search li {
	display: block;
	list-style: none;
}
.nav .search_box .search a.active .nav .search_box .search{
	display: block;
}
.nav .search_box #tab_experience {
	top: 0;
}
.nav .search_box #tab_experience .query {
	width: 50%;
	flex-grow: 1;
}
.nav .search_box button {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: var(--primary-clr);
	border: none;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	margin-right: 10px;
	z-index: 9;
}
.nav .search_box button:hover {
	background: var(--linear-gradient-primary);
}

/* 2depth dropdown search box */
#tab_place_content,
#tab_experience_content {
	top: 70px;
	width: 100%;
	flex-grow: 1;
}
.depth2 {
	border-radius: 32px;
	padding: 16px 32px;
	background: var(--white);
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	width: 40%;
	display: none;
}
#tab_place_content .depth2:nth-of-type(2),
#tab_place_content .depth2:nth-of-type(3) {
	width: 0;
	height: 0;
	background: transparent;
	visibility: collapse;
}
.depth2:last-of-type {
	right: 0;
}
.depth2 p{
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	display: block;
	padding: 8px 0;
}
.depth2.location {
	flex-direction: column;
	justify-content: space-between;
	
}
.depth2.location .flexible {
	width: 100%;
	height: 58px;
	padding: 8px 24px;
	margin-top: 16px;
	margin-bottom: 16px;
	background: var(--white);
	border-radius: 32px;
	box-shadow: 0 6px 16px rgba(0, 0, 0, .12);
	border: 1px solid var(--gray3);
	transform: none;
}
.depth2.location .flexible:hover {
	box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}
.depth2.location .flexible a {
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}
.depth2.location .flexible a span {
	color: transparent;
	font-size: 18px;
	font-weight: 800;
	line-height: 20px;
	text-overflow: ellipsis;
	background: var(--linear-gradient-secondary);
	-webkit-background-clip: text;
	background-clip: text;
}
.depth2.location .flexible video {
	width: 28px;
	height: 28px;
}
/* 2depth tab - guest search box */
#header .nav .depth2.guest li{
	padding: 16px 4px 16px;
	border-bottom: 1px solid var(--gray2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header .nav .depth2.guest li:nth-last-of-type(2),
#header .nav .depth2.guest li:last-of-type {
	border-bottom: none;
}
#header .depth2.guest span,
#header .depth2.guest a {
	display: block;
	color: var(--gray5);
	font-size: 14px;
	line-height: 18px;
}
#header .depth2.guest span.category{
	color: var(--secondary-clr);
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}
#header .depth2.guest a {
	color: var(--secondary-clr);
	font-weight: 600;
	text-decoration: underline;
}
#header .depth2.guest .guest_num {
	align-items: center;
	justify-content: space-between;
	width: 104px;
}
#header .depth2.guest .guest_num button {
	background: white;
	border: 1px solid var(--gray4);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-indent: 0px;
	color: var(--gray5);
	font-size: 26px;
	padding-bottom: 4px;
	transform: translateY(0%);
	margin-right: 0;
}
#header .depth2.guest .guest_num button.minus {
	color: var(--gray2);
	border: 1px solid var(--gray2);
}
#header .depth2.guest .guest_num button.add:hover {
	border: 1px solid var(--secondary-clr);
	color: var(--secondary-clr);
}
#header .depth2.guest .guest_num span {
	display: block;
	font-size: 16px;
	line-height: 20px;
	color: var(--secondary-clr);

}
/* 2depth tab - experience map box*/
#tab_experience_content > div > div {
	padding-top: 16px;
	align-items: center;
}
#tab_experience_content #map {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	background: url(../img/map.webp) no-repeat center center / cover;
	margin-right: 16px;
}
#tab_experience_content span {
	font-size: 16px;
	font-weight: 400;
}



/* Search box add open class JQ */
.search_box > div > .query.open {
	background: var(--white);
	box-shadow:  0 6px 20px rgba(0, 0, 0, .2);
	border-radius: 32px;
}
.search_box #tab_place_content > div.open,
.search_box #tab_experience_content > div.open{
	display: block;
}


/* Datepicker */
#ui-datepicker-div {
	width: 850px !important;
	height: 500px;
	border-radius: 32px;
	background: var(--white);
	padding: 50px 24px;
	position: relative ;
	top: 170px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	z-index: 99;
}
#ui-datepicker-div .ui-datepicker-group {
	width: 45%;
	margin: 0 20px;
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-prev, 
#ui-datepicker-div .ui-datepicker .ui-datepicker-next {
	top: 24px;
	border: 1px solid transparent;
	
}
#ui-datepicker-div .ui-datepicker .ui-datepicker-prev {
	left: 5px;
	border: 1px solid transparent;
}
#ui-datepicker-div .ui-datepicker-next span {
	transform: rotate(180deg);
}
#ui-datepicker-div .ui-datepicker table th{
	padding-bottom: 27px;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content .ui-state-default {
	border: none;
	background: none;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	color: var(--secondary-clr);
	width: 48px;
	height: 47px;
	border: 1.5px solid transparent;
}
#ui-datepicker-div .ui-state-default:hover{
	border-radius: 50%;
	border: 1.5px solid var(--secondary-clr);
}
#ui-datepicker-div .ui-widget-header{
	color: var(--secondary-clr);
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	padding-top: 22px;
	width: 100%;
	/* padding-bottom: 37px; */
}
#ui-datepicker-div .ui-datepicker-calendar td a {
	text-align: center;
}
#ui-datepicker-div .ui-datepicker-calendar thead span {
	color: var(--gray5);
	font-size: 12px;
	font-weight: 600;
	line-height: 16px;
	text-align: center;
}
#ui-datepicker-div td.ui-state-disabled span  {
	text-align: center;
	right: 24px
}
#ui-datepicker-div .ui-datepicker-current-day {
	border-radius: 50%;
	background-color: var(--secondary-clr);
}

#ui-datepicker-div a.ui-state-default.ui-state-active {
	color: var(--white);
}


/* Header Shrink styling for JQ */
#header.shrink {
	height: 80px;
	background: var(--white);
	transition: all .3s ease-in;
	position: fixed;
	z-index: 9;
	box-shadow: 0px 1px 12px rgb(0 0 0 / 8%);
}
#header.shrink .nav {
	display: none;
}
#header.shrink .member .host:hover,
#header.shrink .member .lang:hover {
	background: var(--gray1);
}
#header.shrink .member .host a {
	color: #222222;
}
#header.shrink .member .login {
	border: 1px solid var(--gray3);
}
#header .search_box.shrink {
	display: none;
}
#header.shrink .search_box.shrink {
	display: block;
	width: 300px;
	height: 48px;
	border: 1px solid var(--gray3);
	border-radius: 40px;
	background: var(--white);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
	padding: 12px 20px;
	top: 16px;
	left: 50%;
	transform: translateX(-50%);
}
#header.shrink .search_box.shrink:hover {
	box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}
#header.shrink .search_box.shrink .search .query {
	font-weight: 600;
}
#header.shrink .search_box.shrink button {
	width: 31px;
	height: 31px;
	padding: 10px;
	right: 10px;
	top: 50%;
	left: 92%;
	border-radius: 50%;
	background: var(--primary-clr);
	transform: translateY(-50%);
	text-indent: -22222222px;
}
#header.shrink .search_box.shrink button object {
	width: 12px;
	height: 12px;
	padding-top: 1px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}




/* header_scroll : fixed minimized header when scrolling */
#header_scroll {
	width: 100%;
	background: var(--white);
	box-shadow:  0px 1px 12px rgb(0 0 0 / 8%);
	transition: all 0.3s ease-in-out;
	position: fixed;
	top: 0;
	display: none;
	z-index:9;
}
#header_scroll .top {
	width: 100%;
	height: 80px;
}
#header_scroll .nav {
	padding-top: 16px;
	height: 80px;
}
#header_scroll .member .host a {
	color: var(--secondary-clr);
}
#header_scroll .member .lang {
	background: none;
}
#header_scroll .member .host:hover,
#header_scroll .member .lang:hover {
	background: var(--gray1);
}
#header_scroll .nav .search_box{ 
	max-width: 300px;
	height: 48px;
	margin: auto;
	border-radius: 40px;
	justify-content: space-around;
}
#header_scroll .nav .search_box .search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: var(--white);
	height: 48px;
	padding-top: 3px;
}
#header_scroll .search_box,
#header_scroll .member .login {
	border: 1px solid var(--gray3);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}
#header_scroll .nav .search_box:hover,
#header_scroll .member .login:hover {
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}
#header_scroll .member .login {
	text-indent: -222222222px;
}
#header_scroll .nav .search_box .search .query {
	width: 80%;
	margin-left: 10px;
}
#header_scroll .nav .search_box .search .query:hover {
	background: none;
}
#header_scroll .nav .search_box .search .query .place {
	font-size: 14px;
	font-weight: 600;
}
#header_scroll .nav .search_box button {
	width: 32px;
	height: 32px;
	padding: 10px;
	top: 50%;
	left: -30%;
	transform: translateY(-50%);
	text-indent: -22222222px;
	background: none;
}
#header_scroll .nav .search_box button object {
	width: 16px;
	height: 16px;
	
	
}




/* Sticky Nav bar for mobile */
#sticky_nav {
	display: none;
	width: 100%;
	height: 65px;
	bottom: 0;
	left: 0;
	background: var(--white);
	z-index: 9;
}
#sticky_nav .nav {
	width: 100%;
	height: 44px;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex: 1 0 auto;
	border-top: 1px solid rgb(235, 235, 235);
	background: var(--white);
	padding: 12px 39px;	
}
#sticky_nav .nav a{
	color: var(--gray5);
	font-size: 10px;
	font-weight: 600;
	max-width: 25%;
	padding: 0 25px;
	flex-direction: column;
	align-items: center;
}
#sticky_nav .nav a img {
	width: 26px;
	height: 26px;
	padding: 0 3px;
	stroke: var(--gray4);
	color: #eee;
	color:var()
}




/* footer */
#footer {
	background: var(--gray1);
}
#footer #info_list {
	padding: 48px 0;
	justify-content: space-between;

}
#footer #info_list span,
#footer #info_list .category_list a,
#footer #copyright .foot_left{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: var(--secondary-clr);
	padding: 10px 0;
}
#footer #info_list span,
#footer #info_list .category_list a {
	display: block;
}
#footer #info_list span {
	font-weight: 800;
}
#footer #info_list .category_list li:hover a {
	text-decoration: underline;
}
#copyright {
	width: 100%;
	border-top: 1px solid var(--gray3);
	padding: 24px 0;
}
#copyright .w1280{
	justify-content: space-between;
	align-items: center;
}
#copyright .foot_left a {
	color: var(--secondary-clr);
	line-height: 18px;
}
#copyright .foot_left a:hover {
	text-decoration: underline;
}
#copyright .foot_left span {
	width: 19px;
	line-height: 20px;
	text-align: center;
}
#copyright .foot_right button {
	background-color: transparent;
	margin-right: 24px;
}
#copyright .foot_right button a,
#copyright .foot_right button span {
	color: var(--secondary-clr);
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	text-decoration: underline;
}
#copyright .foot_right button.lang a,
#copyright .foot_right button.currency span.cur_sign {
	text-decoration: none;
	font-weight: 400;
	margin-right: 8px;
}
#copyright .foot_right button.lang object {
	margin-right: 5px;
	margin-bottom: -3px;
}
#copyright .foot_right .sns_icons {
	margin-left: 32px;
}
#copyright .foot_right .sns_icons li {
	cursor: pointer;
}
#copyright .foot_right .sns_icons a {
	padding: 7px;
}
#copyright .foot_right .sns_icons .sns object {
	width: 18px;
	height: 18px;
	line-height: 20px;
	margin-right: 24px;
}
#copyright .foot_right .sns_icons .sns:nth-child(3) object{
	margin-right: 0;
}
